.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 75%;
    width: 100%;
}
.start {
    justify-content: flex-start;
    width: 100%;
}
.column {
    flex-direction: column;
    justify-content: flex-start;
}
@media (max-width:1200px) {
    .start {
        width: 100%;
        gap: 1em;
    }
}