.footer {
    background-color: #000;
    color: #fff;
    padding: 2em 0;
    text-align: center;
    width: 100%;
    min-height: 30vh;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 4rem;
}
.social_list li {
    margin: 0 1em;
}
.social_list li:hover {
    color: #ffbb33;
}
.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}
.copy_right {
    margin-top:  2em;
}
.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}